/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background: #eaf8ff;
}

/* LAYOUT */
.container {
    min-height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 420px;
    background: #fff;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

/* HEADER */
.page-header {
    text-align: center;
    margin-bottom: 24px;
}

.page-header h2 {
    font-size: 22px;
    font-weight: 600;
}

.subtitle {
    font-size: 13px;
    color: #666;
}

/* FORM */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group label {
    font-size: 13px;
    font-weight: 600;
}

.form-group input {
    padding: 10px 12px;
    border-radius: 10px;
    border: 1.5px solid #000;
    font-size: 14px;
}

/* ACTION */
.form-action {
    margin-top: 10px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover {
    background: #333;
}
